body{
    font-family: 'Lucida Sans Unicode';
    max-width: 900px;
    margin: 0 auto;
}

nav{
    float: left;
    width: 200px;
}

h1{
    text-align: center;
}

.verde{
    color: green;
}

.verde-claro{
    color: greenyellow;
}

.naranja{
    color: orange;
}

li{
    margin-bottom: 5px;
}

.bordered{
    border: 1px solid black;
    padding: 10px;
    margin-left: 250px;
}

a{
    text-decoration: none;
    color:black;
}

.button {
    display: inline-block;
    padding: 5px 1rem;
    width: 8rem;
    text-align: center;
    background-color: #6fd218;
    color: #333;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    background-size: 1%;
    background-position: 0% 100%;
}

.button:hover {
    background-color: #e0e0e0;
}

.button.button-selected {
    background-color: antiquewhite;
    color: #333;
    border: 1px solid #ccc;
}

.shadow-div {
    
    background-color: #fff;
    box-shadow: inset 0px -10px 15px -5px rgba(0, 0, 0, 0.3), inset 0px 10px 15px -5px rgba(0, 0, 0, 0.3);
}

img{
    padding: 10px
}

figcaption{
    opacity: 0.5;
    text-align: center;
}